/*General css */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    background-color: #fff;
    font-family: "Gotham A", "Gotham B", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

p {
    font-family: 'Poppins', serif;
}

.progressbar {
    position: absolute;
    left: 0%;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 6px;
    height: 100%;
    background-color: #f16405;
    color: #3a20ff;
}

body {
    height: 200vh;

}

.navlink:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.navlink {
    color: #fff;
    text-decoration: none;
    z-index: 100;
}

.sidenavi {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: 90px;
    padding: 20px 10px 15px 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #272727;
    z-index: 99;
}




.section {
    display: flex;
    height: 100vh;
    margin-right: 90px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    object-fit: fill;
}


.picture1 {
    margin-right: 110px;
    margin-top: -110px;
}

.video-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#top-tore {
    margin-top: 3%;
}

#grape {
    width: 20%;
    position: absolute;
    left: 0;
    margin-left: -4%;
    bottom: 45px;
}


/* Generel info for paper tores*/
.paper-tore,
.paper-tore-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3;

}

.paper-tore p {
    position: absolute;
    z-index: 5;
    width: 70%;
    margin-top: -4%;
    text-align: center;
    font-size: 20px;
}

/*width for paper tores*/
.paper-tore img,
.paper-tore-up img {
    width: 100%;
}

/*paper tore bottom placement*/
.paper-tore {
    justify-content: flex-end;
    padding-top: 4px;
}

/*paper tore upper placement*/
.paper-tore-up {
    justify-content: space-between;
    height: 115vh;
    width: 100%;
}

/*Elements with a width of x=100 and y=100*/
video,
.video-gradient,
footer,
.paper-tore {
    width: 100%;
    height: 100vh;
}

#reelVideo {
    width: 121%;
    height: 100%;
    margin-left: -15%;
    margin-top: -9%;
}

/*-----video til startside----*/
video {
    object-fit: fill;
}

.video-gradient {
    position: absolute;
    z-index: 2;
}

.overskrift {
    position: absolute;
    margin-top: -24%;
    text-align: center;

}

.overskrift1 {
    position: absolute;
    margin-top: -22%;
    text-align: center;

}

#world {
    width: 120%;
    margin-top: 4%;
    margin-right: 2%;
}

.centrerknap {
    color: #000;
}

#eu {
    position: absolute;
    left: 45%;
    top: 137%;

}

#NA {
    position: absolute;
    left: 15%;
    top: 139%;
}

#SA {
    position: absolute;
    left: 23.5%;
    top: 170%;
}

#af {
    position: absolute;
    left: 45%;
    top: 159%;
}

#as {
    position: absolute;
    left: 61%;
    top: 144%;
}

#au {
    position: absolute;
    left: 73%;
    top: 176%;
}


.bg-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}

.bg-modal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}

.bg-modal3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}

.bg-modal4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}

.bg-modal5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}

.bg-modal6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
}




.modal-content {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.eu1 {
    width: 320px;
    height: 250px;
    margin-right: 1%;
    border-radius: 5px;
}

.eu2 {
    width: 320px;
    height: 250px;
    margin-left: 1%;
    border-radius: 5px;
}

.modal-content h2 {
    font-size: 42px;
}

.modal-content h4 {
    font-size: 20px;
}

.close {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close2 {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close3 {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close4 {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close5 {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close6 {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}


#section3 {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.green {
    position: absolute;
    top: -20px;
    left: -50px;
    width: 20%;
    z-index: 100;
    transform: rotateY(180deg);
}

.orange {
    position: absolute;
    top: 500px;
    right: 60px;
    width: 20%;
    z-index: 80;
    transform: rotateY(180deg);
}

#border1 {
    position: absolute;
    margin-top: -25%;
}

#musti {
    width: 27%;
    position: absolute;
    left: 15%;
    top: 15%;
}

#play {
    width: 10%;
    position: absolute;
    left: 16%;
    top: 50%;
}

#play:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#pil {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 16%;
}

.ommusti {
    color: white;
    display: flex;
    position: absolute;
    width: 35%;
    top: 20%;
    right: 20%;
    height: 50%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.ommusti .musti {
    font-size: 20px;
    line-height: 25px;
}

.ommusti .musti2 {
    font-size: 16px;
    line-height: 20px;
}

.ommusti .musti3 {
    font-size: 14px;
    line-height: 18px;
    font-style: oblique;
    margin-top: -2%;
}

#border2 {
    position: absolute;
    margin-top: 22%;
    height: 25%;
}

#audio {
    display: none;
}


#section4 {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section4 #historie {
    font-size: 40px;
    position: absolute;
    top: 5%;
    left: 29%;
}

.butikken {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 10px;
}

#under {
    width: 35%;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 20px;
    line-height: 22px;
}

#byside {
    width: 35%;
    position: absolute;
    top: 32%;
    left: 50%;
    font-size: 20px;
    line-height: 22px;
}


#section5 {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bordertop {
    position: absolute;
    top: -15%;
}

.grape {
    width: 15%;
    position: absolute;
    top: -18%;
    left: -2%;
}

.bazar {
    color: #fff;
    position: absolute;


}

#findo {
    top: 5%;
    right: 41%;
    font-size: 30px;
}

#findotext {
    top: 10%;
    right: 22%;
    font-size: 20px
}

#mapVideo {
    width: 75%;
    height: auto;
    margin-left: -10%;
    margin-top: 5%;

}

#over {
    position: absolute;
    height: 11%;
    width: 75%;
    top: 16.9%;
    left: 7.5%;
    z-index: 11;
}

#under1 {
    position: absolute;
    height: 11%;
    width: 75%;
    top: 81%;
    left: 7.5%;
    z-index: 11;

}

#borderbot {
    position: absolute;
    bottom: -10%;
}

.fruitone {
    width: 18%;
    z-index: 14;
    transform: rotateY(180deg);
    position: absolute;
    bottom: -3%;
    right: 6%;
}

.kontakt {
    color: #000;
}

#section6 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#kontaktos {
    position: absolute;
    top: 5%;
    right: 50%;
}

#logobazar {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 30%;
}

.mapouter {

    text-align: right;
    position: absolute;
    top: 41%;
    left: 6.5%;
    height: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 500px;
}

#logofrugt {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 53%;
}

.skrifter {
    position: absolute;
    left: 65.6%;
}

.adresse {
    position: absolute;
    left: 59%;
    top: 51%
}

#telefon {
    top: 58%;
}

.Telefon {
    position: absolute;
    top: 61%;
    left: 63.8%;
}

#mail {
    top: 69%;
}

.email {
    position: absolute;
    top: 72%;
    left: 62.2%;
}

#cvr {
    top: 80%;
}

.cvr {
    position: absolute;
    top: 83%;
    left: 65.5%;
}

.bot {
    position: absolute;
    bottom: -15%;
}

.greenie {
    position: absolute;
    width: 15%;
    bottom: -14%;
    left: -4%;
}

/*Styling til devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Husk at disse er et stylesheet inde i stylesheetet, så du skal vælge grupper osv igen */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
