/*General css */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    background-color: #fff;
    font-family: "Gotham A", "Gotham B", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

p {
    font-family: 'Poppins', serif;
}

.progressbar {
    position: absolute;
    left: 0%;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 6px;
    height: 100%;
    background-color: #f16405;
    color: #3a20ff;
}

body {
    height: 200vh;

}

.navlink:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.navlink {
    color: #fff;
    text-decoration: none;
    z-index: 100;
}

.sidenavi {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: 90px;
    padding: 20px 10px 15px 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #272727;
    z-index: 99;
}




.section {
    display: flex;
    height: 100vh;
    margin-right: 90px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    object-fit: fill;
}


.picture1 {
    margin-right: 110px;
    margin-top: -110px;
}

.video-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#top-tore {
    margin-top: 3%;
}

#grape {
    width: 20%;
    position: absolute;
    left: 0;
    margin-left: -4%;
    bottom: 45px;
}


/* Generel info for paper tores*/
.paper-tore,
.paper-tore-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3;

}

.paper-tore p {
    position: absolute;
    z-index: 5;
    width: 70%;
    margin-top: -5%;
    text-align: center;
    font-size: 20px;
}

/*width for paper tores*/
.paper-tore img,
.paper-tore-up img {
    width: 100%;
}

/*paper tore bottom placement*/
.paper-tore {
    justify-content: flex-end;
    padding-top: 4px;
}

/*paper tore upper placement*/
.paper-tore-up {
    justify-content: space-between;
    height: 115vh;
    width: 100%;
}

/*Elements with a width of x=100 and y=100*/
video,
.video-gradient,
footer,
.paper-tore {
    width: 100%;
    height: 100vh;
}

#reelVideo {
    width: 121%;
    height: 100%;
    margin-left: -15%;
    margin-top: -9%;
}

/*-----video til startside----*/
video {
    object-fit: fill;
}

.video-gradient {
    position: absolute;
    z-index: 2;
}


#world {
    width: 120%;
    margin-top: 5%;
    margin-right: 2%;
}

.centrerknap {
    color: #000;
}

#eu {
    position: absolute;
    left: 45%;
    top: 137%;

}

#NA {
    position: absolute;
    left: 15%;
    top: 139%;
}

#SA {
    position: absolute;
    left: 23.5%;
    top: 170%;
}

#af {
    position: absolute;
    left: 45%;
    top: 159%;
}

#as {
    position: absolute;
    left: 61%;
    top: 144%;
}

#au {
    position: absolute;
    left: 73%;
    top: 176%;
}





/*Styling til devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Husk at disse er et stylesheet inde i stylesheetet, så du skal vælge grupper osv igen */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
